:root{
	--primary-color:#fc7b28;
	--secondary-color:#fdc700;
	--bg-color:#d3d3d3;
	--border-color:#2082e4;
	--btn-color:#00b8ff;
	--hover-color:#ff5e00;
	--main-color:#464441;
	--text-color:#fd5200;
	--hv-bg-color:#fca500;
	--hv-text-color:#0dff66;
	--body-color:#ffc300;
	--shadow-color:#0c39ff;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.navbar-brand{
	text-align:center;
	color:var(--text-color);
	font-weight:bolder;
}

h2{
	text-align:center;
	font-family:ui-sans-serif;
	font-size:39px;
	font-weight:bolder;
	color:var(--text-color);
}
h3{
	text-align:center;
	font-family: cursive;
	font-weight:bolder;
	color:var(--text-color);
	font-size:35px;
}
input,select,file{
	font-family:system-ui;
	font-size:25px;
	background:var(--secondary-color);
	border-radius:10px;
	color:var(--text-color);
	border:2px solid var(--border-color);
	border-bottom-color:var(--primary-color);
	
}
input:hover{
	background:var(--hv-bg-color);
	color:var(--hv-text-color);
	box-shadow:5px 5px 40px 8px var(--shadow-color);
	
}
select:hover{
	background:var(--hv-bg-color);
	color:var(--hv-text-color);
	box-shadow:5px 5px 40px 8px var(--shadow-color);
}
file:hover{
	background:var(--hv-bg-color);
	color:var(--hv-text-color);
	box-shadow:5px 5px 40px 8px var(--shadow-color);
}
.btn_1{
	background-color: var(--btn-color);
	color: var(--text-color);
}

#main{
	margin-top:60px;
	background-color:var(--main-color);
	font-weight:bolder;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	
}
.container-1 {
	background: var(--bg-color);
}
.row{
	width:1162px;
	font-size:30px;
	text-align:center;
	color:var(--text-color);
	
}
.row:hover{
	color:var(--hv-text-color);
}
.active-1{
	text-decoration:none;
	text-decoration-color:black;
	border:2px solid black;
	border-radius:10px;
	display:flex;
	flex-direction:row;
	background:var(--btn-color);
	padding:5px 5px 5px 5px;
}
.active-1:hover{
	background:var(--secondary-color);
	color:var(--text-color);
	box-shadow:5px 5px 31px 8px var(--shadow-color);
	opacity:0.8;
}
.j1{
	text-decoration:none;
	color: var(--text-color);
}
.page-1{
	display:flex;
	justify-content:space-between;
}
.page-1{
	background:var(--bg-color);
}
.sour{
	text-decoration:none;
	color:var(--text-color);
	background: var(--btn-color);
	border-radius: 18px;
	padding: 5px 5px 5px 5px;
}
.sour:hover{
	color:var(--text-color);
	box-shadow:5px 5px 31px 8px var(--shadow-color);
}



