@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
:root{
	--primary-color:#fc7b28;
	--secondary-color:#fdc700;
	--bg-color:#d3d3d3;
	--border-color:#2082e4;
	--btn-color:#00b8ff;
	--hover-color:#ff5e00;
	--main-color:#464441;
	--text-color:#fd5200;
	--hv-bg-color:#fca500;
	--hv-text-color:#0dff66;
	--body-color:#ffc300;
	--shadow-color:#0c39ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merriweather;
}
/*div in three page same div*/
.user-form{
    justify-content: center;
    align-items: center;
    border: 2px solid #323232;
	background: #d3d3d3;
    border-radius: 5px;
    margin: 150px 0px 0px 380px;
    padding: 50px 50px 50px 50px;
	gap: 50px;
    width: 420px;/*360px*/
	height: 330px;
	box-shadow: 4px 4px #323232;
	position: relative;
}
.user-form,.user-form-3, input:hover{
	box-shadow: 4px 4px #323232;
	border: 2px solid #323232;
}
/*first form css*/
.inp-1{
	outline: none;
	margin: 0px 0px 0px 39px;
}
.inp-2{
	outline: none;
	margin: 20px 0px 0px 9px;
}
.forgot-pass{
	text-decoration: none;
	font-size: 15px;
	margin: 0px 0px 0px 176px;
}
.btn-1{
	margin: 40px 0px 0px 0px;
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
}
.btn-2{
	margin: 40px 0px 0px 132px;
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
}
.rge,.rge-1{
	font-size: 15px;
	text-decoration: none;
	margin: 65px 0px 0px 20px;
}
.rge-1:hover{
	text-decoration: underline;
}
/*second form style*/
h6{
	text-align: center;
	text-shadow: 8px 8px 5px #323232;
	font-size: 2.4rem;
  	line-height: 2rem;
  	font-weight: 700;
  	letter-spacing: -0.025em;
}
.inp-01{
	outline: none;
	margin: 20px 0px 0px 35px;
}
.btn-01{
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
	margin: 60px 0px 0px 0px;
}
.btn-02{
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
	margin: 60px 0px 0px 125px;
}
/* to best form code is 
	display: flex;
	flex-direction: column;
	margin: 35px auto; 
Third Form Style*/
.txt-r{
	text-align: center;
	text-shadow: 8px 8px 5px #323232;
	font-size: 1.94rem;
  	line-height: 2rem;
  	font-weight: 700;
  	letter-spacing: -0.025em;
}
.user-form-3{
	align-content: center;
	justify-content: center;
    align-items: center;
    border: 2px solid #323232;
	background: #d3d3d3;
    border-radius: 5px;
    margin: 150px 0px 0px 380px;
    padding: 50px 50px 50px 50px;
    width: 490px;/*360px*/
	height: 350px;
	box-shadow: 4px 4px #323232;
}
.inp-0-1{
	outline: none;
	margin: 20px 0px 0px 50px;
}
.inp-0-2{
	outline: none;
	margin: 10px 0px 0px 41px;
}
.inp-0-3{
	outline: none;
	margin: 10px 0px 0px 13px;
}
.btn-0-1{
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
	margin: 20px 0px 0px 0px;
}
.btn-0-2{
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
	margin: 0px 0px 0px 200px;
}